<div id="<%= dom_id artist %>">
<div>
    <% if artist.image.attached? %>
      <%= image_tag url_for(artist.image), class: "w-10 h-10" %>
    <% end %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= artist.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= artist.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nationality:</strong>
    <%= artist.nationality %>
  </p>

  <p class="my-5">
  <strong class="block font-medium mb-1">biography:</strong>
  <%= artist.biography %>
</p>

</div>
