<div class="w-full bg-gray-100 p-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Artis" %>

  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl text-black">Artis</h1>
    <%= link_to "Artis Baru", new_artist_path, class: "rounded-lg py-3 px-5 bg-sky-500 text-white block font-medium" %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    <% @artists.each do |artist| %>
      <div class="bg-white rounded-lg shadow-md p-4 cursor-pointer hover:bg-sky-500" onclick="window.location='<%= artist_path(artist) %>'">
        <div class="flex justify-center mb-4">
          <%= image_tag(artist.image, class: "w-48 h-48 rounded-full object-cover") if artist.image.present? %>
        </div>
        <h2 class="font-bold text-2xl mb-2 text-black"><%= artist.name %></h2>
        <p class="text-lg mb-2"><%= artist.year %></p>
        <p class="text-lg mb-2"><%= artist.nationality %></p>
      </div>
    <% end %>
  </div>
</div>