<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Albums" %>

  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl">Albums</h1>
    <%= link_to "New album", new_album_path, class: "rounded-lg py-3 px-5 bg-orange-500 text-white block font-medium" %>
  </div>

  <table class="min-w-full mt-5">
    <thead>
      <tr>
        <th class="px-4 py-2 bg-orange-500 text-left">Title</th>
        <th class="px-4 py-2 bg-orange-500 text-left">Song</th>
        <th class="px-4 py-2 bg-orange-500 text-left">About</th>
        <th class="px-4 py-2 bg-orange-500 text-left">Release</th>
        <th class="px-4 py-2 bg-orange-500 text-left">Credit</th>
      </tr>
    </thead>
    <tbody id="albums">
      <% @albums.each do |album| %>
        <tr class="cursor-pointer hover:bg-orange-500" onclick="window.location='<%= album_path(album) %>'">
          <td class="border px-4 py-2"><%= album.title %></td>
          <td class="border px-4 py-2">
            <% album.songs.each do|song| %>
            <%= song.title %>
           <% end %>
           </td>
          <td class="border px-4 py-2"><%= album.about %></td>
          <td class="border px-4 py-2"><%= album.release %></td>
          <td class="border px-4 py-2"><%= album.credit %></td>

           
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
